{% extends 'layout.html' %} {% block content %}

<div class="columns is-multiline">
  <div class="column is-12">
    <div class="columns is-centered">
      <div class="column is-two-thirds has-text-centered has-spacing-bottom has-no-background">
        <h2 class="title is-size-3 is-size-1-tablet">Get the merch</h2>
        <div class="subtitle is-size-5 is-size-4-tablet">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ipsum eget dui bibendum condimentum
            et eget velit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-6-tablet is-3-desktop">


    <div class="card has-equal-height">
      <div class="image has-spacing image is-3by2">
      </div>
      <div class="card-content has-equal-height">
        <div class="content">
          <h4 class="title has-small-spacing-bottom">Item</h4>
          <div class="has-spacing-bottom">
            <span class="tag has-small-spacing-top is-medium">tortor</span>
            <span class="tag has-small-spacing-top is-medium">suscipit</span>
            <span class="tag has-small-spacing-top is-medium">Vivamus</span>
          </div>
          <p>Vivamus suscipit tortor eget felis porttitor volutpat.</p>
          <p class="buttons">
            <a class="button is-link has-icons-left" href="/products/tattoo/">
              <span class="icon">
                <i class="fas fa-shopping-cart"></i>
              </span>
              <span>Add to basket</span>
            </a>
          </p>
        </div>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item">$ 499.99</div>
        <div class="card-footer-item"><a class="is-bold" href="/products/tattoo/">Full details</a></div>
      </footer>
    </div>


  </div>
  <div class="column is-6-tablet is-3-desktop">


    <div class="card has-equal-height">
      <div class="image has-spacing image is-3by2">
      </div>
      <div class="card-content has-equal-height">
        <div class="content">
          <h4 class="title has-small-spacing-bottom">Item</h4>
          <div class="has-spacing-bottom">
            <span class="tag has-small-spacing-top is-medium">tortor</span>
            <span class="tag has-small-spacing-top is-medium">suscipit</span>
            <span class="tag has-small-spacing-top is-medium">Vivamus</span>
          </div>
          <p>Vivamus suscipit tortor eget felis porttitor volutpat.</p>
          <p class="buttons">
            <a class="button is-link has-icons-left" href="/products/tattoo/">
              <span class="icon">
                <i class="fas fa-shopping-cart"></i>
              </span>
              <span>Add to basket</span>
            </a>
          </p>
        </div>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item">$ 499.99</div>
        <div class="card-footer-item"><a class="is-bold" href="/products/tattoo/">Full details</a></div>
      </footer>
    </div>


  </div>
  <div class="column is-6-tablet is-3-desktop">


    <div class="card has-equal-height">
      <div class="image has-spacing image is-3by2">
      </div>
      <div class="card-content has-equal-height">
        <div class="content">
          <h4 class="title has-small-spacing-bottom">Item</h4>
          <div class="has-spacing-bottom">
            <span class="tag has-small-spacing-top is-medium">tortor</span>
            <span class="tag has-small-spacing-top is-medium">suscipit</span>
            <span class="tag has-small-spacing-top is-medium">Vivamus</span>
          </div>
          <p>Vivamus suscipit tortor eget felis porttitor volutpat.</p>
          <p class="buttons">
            <a class="button is-link has-icons-left" href="/products/tattoo/">
              <span class="icon">
                <i class="fas fa-shopping-cart"></i>
              </span>
              <span>Add to basket</span>
            </a>
          </p>
        </div>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item">$ 499.99</div>
        <div class="card-footer-item"><a class="is-bold" href="/products/tattoo/">Full details</a></div>
      </footer>
    </div>


  </div>
  <div class="column is-6-tablet is-3-desktop">


    <div class="card has-equal-height">
      <div class="image has-spacing image is-3by2">
      </div>
      <div class="card-content has-equal-height">
        <div class="content">
          <h4 class="title has-small-spacing-bottom">Item</h4>
          <div class="has-spacing-bottom">
            <span class="tag has-small-spacing-top is-medium">tortor</span>
            <span class="tag has-small-spacing-top is-medium">suscipit</span>
            <span class="tag has-small-spacing-top is-medium">Vivamus</span>
          </div>
          <p>Vivamus suscipit tortor eget felis porttitor volutpat.</p>
          <p class="buttons">
            <a class="button is-link has-icons-left" href="/products/tattoo/">
              <span class="icon">
                <i class="fas fa-shopping-cart"></i>
              </span>
              <span>Add to basket</span>
            </a>
          </p>
        </div>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item">$ 499.99</div>
        <div class="card-footer-item"><a class="is-bold" href="/products/tattoo/">Full details</a></div>
      </footer>
    </div>


  </div>

  <div class="column is-12">
    <div class="columns is-centered">
      <div class="column is-one-third has-text-centered has-spacing-top has-no-background">
        <div class="buttons are-large is-centered">
          <a href="/products/" class="button is-link">View all items</a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}