<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>eShop Project</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}">

</head>

<body>
  <!-- NavBar -->
  <nav id="navbar" role="navigation" aria-label="main navigation" class="navbar has-shadow is-spaced is-light ma">
    <div class="container">
      <!-- NavBar-Brand -->
      <div class="navbar-brand">
        <a role="button" class="navbar-burger is-marginless" data-target="navMenu" aria-label="menu"
          aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        <a class="navbar-item" href="/">
          <i class="fab fa-fort-awesome-alt fa-fw fa-lg"></i>
          &nbsp;eShop Project
        </a>

        <a class="navbar-item is-hidden-desktop shopping-cart">
          <span class="icon" style="color: #333;">
            <i class="fas fa-shopping-cart"></i>
          </span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <!-- NavBar-Start -->
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">More</a>

            <div class="navbar-dropdown">
              <a class="navbar-item">About</a>
              <a class="navbar-item">Jobs</a>
              <a class="navbar-item">Contact</a>
              <hr class="navbar-divider" />
              <a class="navbar-item">Report an issue</a>
            </div>
          </div>
        </div>

        <!-- NavBar-End -->
        <div class="navbar-end">
          <div class="navbar-item">
            {% if current_user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link has-text-weight-bold">My account</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{ url_for('account')}}">Info</a>
                <hr class="navbar-divider" />
                <a class="navbar-item has-text-danger" href="{{ url_for('logout')}}">Logout</a>
              </div>
            </div>
            {% else %}
            <div class="buttons">
              <a class="button is-primary has-text-weight-bold" href="{{ url_for('register')}}">Register</a>
              <a class="button is-info" href="{{ url_for('login')}}">Sign in</a>
            </div>
            {% endif %}
          </div>
          <a class="navbar-item is-hidden-touch is-hidden-desktop-only shopping-cart">
            <span class="icon" style="color: #333;">
              <i class="fas fa-lg fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <section class="section has-background-light">
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}

      {% for category, message in messages %}
      <div class="notification {{ category }}">
        <button class="delete"></button>
        {{ message }}
      </div>
      {% endfor %}

      {% endif %}
      {% endwith %}


      {% block content %} {% endblock %}
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer has-background-light">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>eShop project</strong> by <a href="https://github.com/bouhrassa">Marc-Andre Bourassa</a>
          . The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </div>
  </footer>

  <!-- JavaScript -->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>

</html>