html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > footer {
  margin-top: auto;
}

.footer {
  padding: 2rem;
}

.navbar-brand .navbar-item {
  font-weight: 700;
  font-size: 1.2rem;
}

.shopping-cart {
  margin-left: auto;
  width: 3.25rem;
}

.navbar {
  margin-bottom: 1rem;
}