{% extends 'layout.html' %} {% block content %}

<form id="register-form" method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="columns is-multiline is-centered box">
    <div class="column is-8">
      <div class="title">Sign Up</div>
      <div class="subtitle">Become a member of eShop</div>
      <hr>

      <div class="field">
        {{ form.username.label(class="label") }}
        <div class="control has-icons-left">
          {% if form.username.errors %}
          {{ form.username(class="input is-medium is-danger", placeholder="Username") }}
          {% else %}
          {{ form.username(class="input is-medium", placeholder="Username") }}
          {% endif %}
          <span class="icon is-left"><i class="fa fa-user"></i></span>
        </div>
        <div class="help is-danger">
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="field">
        {{ form.email.label(class="label") }}
        <div class="control has-icons-left">
          {% if form.email.errors %}
          {{ form.email(class="input is-medium is-danger", placeholder="Email") }}
          {% else %}
          {{ form.email(class="input is-medium", placeholder="Email") }}
          {% endif %}
          <span class="icon is-left"><i class="fa fa-envelope-square"></i></span>
        </div>
        <div class="help is-danger">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="field">
        <div class="columns">
          <div class="column">
            {{ form.password.label(class="label") }}
            <div class="control has-icons-left">
              {% if form.password.errors %}
              {{ form.password(class="input is-medium is-danger", placeholder="Password") }}
              {% else %}
              {{ form.password(class="input is-medium", placeholder="Password") }}
              {% endif %}
              <span class="icon is-left"><i class="fa fa-key"></i></span>
            </div>
            <div class="help is-danger">
              {% for error in form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="column">
            {{ form.passwordConfirmation.label(class="label") }}
            <div class="control has-icons-left">
              {% if form.passwordConfirmation.errors %}
              {{ form.passwordConfirmation(class="input is-medium is-danger", placeholder="Confirm password") }}
              {% else %}
              {{ form.passwordConfirmation(class="input is-medium", placeholder="Confirm password") }}
              {% endif %}
              <span class="icon is-left"><i class="fa fa-lock"></i></span>
            </div>
          </div>
          <div class="help is-danger">
            {% for error in form.passwordConfirmation.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          {{ form.submit(class="button is-primary is-outlined is-medium") }}
        </div>
      </div>
      <hr>
      <small>Already have an account? <a href="{{ url_for('login') }}">Sign in</a> </small>
    </div>
  </div>
</form>

{% endblock content %}